.checkbox {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check {
    cursor: pointer;
    width: 15px;
    height: 15px;
    color: #000;
}

.label {
    cursor: pointer;
}