.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selects {
    display: flex;
    gap: 20px;
}

@media (max-width: 500px){
    .selects {
        flex-direction: column;
        gap: 0;
    }
}

.inputs {
    width: 90%;
}
