.App {
  text-align: center;
  left: 0;
}

.link {
  color: #000;
}
.link:visited{
  color: #000;
}

.fullwidth {
  width: 100%;
}
.autowidth {
  width: max-content;
}
.fullheight {
  height: 100%;
}
.autoheight {
  height: max-content;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.DivButtons {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
}
.hcenter {
  display: flex;
  align-items: center;
}

.button {
  text-decoration: none;
}

.margin {
  margin-inline: 5px;
}
.margintop {
  margin-top: 5px;
}
.marginbottom {
  margin-bottom: 5px;
}
.nomarginleft{
  left: 0;
}

.DivBox {
  border: 2px solid #111;
  padding: 5px;
  margin-bottom: 5px;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

.extrabottom {
  position: absolute;
  top: 95%;
}

.img {
  object-fit: fill;
}

.horizontalscroll {
  overflow-x: scroll;
}

.selected {
  border-bottom: 2px solid #0F0FFF;
  font-size: medium;
}
.unselected {
  font-size: small;
}